<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>Home</title>
    </head>
    <body>
        <h1>Hydreigon's Arcade</h1>
        <hr>
        <h5 style="margin-bottom: 50px;">What would you like to play?</h5>
        <a class="active-button" href="/tictactoe" style="margin-left: 30px;">
            <img src="img/tictactoe_icon.png" alt="TicTacToe" class="icon_img">
            Tic Tac Toe
        </a>
        <a class="active-button" href="/runner">
            <img src="img/runner_icon.png" alt="Runner" class="icon_img">
            Runner
        </a>
        <a class="active-button" href="/fun-math">
            <img src="img/fun-math_icon.png" alt="Fun Math" class="icon_img">
            Fun Math
        </a>
    </body>
</html>